<mat-form-field appearance="fill">
    <mat-label>User Type</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="user">
      <mat-option *ngFor="let user of userTypes" [value]="userType">
        {{user}}
      </mat-option>
    </mat-select>
</mat-form-field>

<textarea name="Title" id="" cols="30" rows="10"></textarea> <!--textbox for title-->
<textarea name="User Story" id="" cols="30" rows="10"></textarea> <!--textbox for story-->

<button mat-flat-raised color="primary">Save</button>
<button mat-flat-raised color="secondary">Cancel</button>
<!-- if task does not have a creationDate -->
<!--<ngif>
  <button mat-flat-raised color="warning">Delete</button>
</ngif>-->